<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" routerDirection="back">Home</ion-button>
    <ion-title>Leagues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card ion-item *ngFor="let league of leagues">
    <img src="{{league.leagueLogo}}" />
    <ion-card-header>
      <ion-card-title>{{league.leagueName}}</ion-card-title>
    </ion-card-header>
  </ion-card> -->
  <ion-item ion-item *ngFor="let league of leagues">
    <ion-avatar slot="start">
      <img src="{{league.leagueLogo}}">
    </ion-avatar>
    <ion-label>
      <h2>{{league.leagueName}}</h2>
    </ion-label>
  </ion-item>
</ion-content>
